@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
* {
    margin: 0;
    padding: 0;
}

.btn {
    padding: 21px 32px 21px 32px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;

}

.position {
    text-align: center;

}

#hero {
    height: 800px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url("../assets/hero-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

#hero .hero-content {
    width: 1023px;
}

#hero .hero-content .savor {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 16px;

}

#hero .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.description {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;

}

#card-box {
    width: 1320px;
    margin: 50px auto;

}

/* #card-box .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
} */

#card-box .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;

}

#card-box .header {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;

}

.card-container {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    font-family: Work Sans;

}

.card {
    max-width: 424px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card .image-box {
    width: 424px;
}

.card .image-box img {
    width: 100%;
}

.card .shop {
    padding: 14px 32px 14px 32px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}